############################################################################
# Global options
############################################################################
# Fix ctrl+left/right keys work right
set-window-option -g xterm-keys on

# start window indexing at one instead of zero
set -g base-index 1

# Set 'v' for vertical and 'h' for horizontal split
bind v split-window -h -c '#{pane_current_path}'
bind s split-window -v -c '#{pane_current_path}'



# vim-like pane switching
bind -r k select-pane -U
bind -r j select-pane -D
bind -r h select-pane -L
bind -r l select-pane -R

# vim-like pane resizing
bind -r C-k resize-pane -U
bind -r C-j resize-pane -D
bind -r C-h resize-pane -L
bind -r C-l resize-pane -R

############################################################################
# Unbindings
############################################################################
# remove default binding since replacing
unbind %
unbind Up
unbind Down
unbind Left
unbind Right

unbind C-Up
unbind C-Down
unbind C-Left
unbind C-Right

############################################################################
# Styling (Gruvbox)
############################################################################
set-option -g status "on"

# default statusbar color

set-option -g status-style bg=colour236,fg=colour223 # bg=bg1, fg=fg1

# default window title colors
set-window-option -g window-status-style bg=colour2,fg=colour236 # bg=yellow, fg=bg1

# default window with an activity alert
#set-window-option -g window-status-activity-style bg=colour237,fg=colour248 # bg=bg1, fg=fg3
set-window-option -g window-status-activity-style bg=colour236,fg=colour2 # bg=bg1, fg=fg3

# active window title colors
set-window-option -g window-status-current-style bg=red,fg=colour236 # fg=bg1

# pane border
#set-option -g pane-active-border-style fg=colour250 #fg2
set-option -g pane-active-border-style fg=colour2 #fg2
set-option -g pane-border-style fg=colour236 #bg1

# message infos
set-option -g message-style bg=colour239,fg=colour223 # bg=bg2, fg=fg1

# writing commands inactive
set-option -g message-command-style bg=colour239,fg=colour223 # bg=fg3, fg=bg1

# pane number display
#set-option -g display-panes-active-colour colour250 #fg2
set-option -g display-panes-active-colour colour250 #fg2
#set-option -g display-panes-colour colour237 #bg1
set-option -g display-panes-colour colour236 #bg1

# clock
#set-window-option -g clock-mode-colour colour109 #blue
set-window-option -g clock-mode-colour colour107 #blue

# bell
set-window-option -g window-status-bell-style bg=colour167,fg=colour235 # bg=red, fg=bg

## Theme settings mixed with colors (unfortunately, but there is no cleaner way)
set-option -g status-justify "left"
set-option -g status-left-style none
set-option -g status-left-length "80"
set-option -g status-right-style none
set-option -g status-right-length "80"
set-window-option -g window-status-separator ""

#set-option -g status-left "#[bg=colour241,fg=colour248] #S #[bg=colour237,fg=colour241,nobold,noitalics,nounderscore]"
set-option -g status-left "#[bg=colour101,fg=colour236] #S #[bg=colour236,fg=colour101,nobold,noitalics,nounderscore]"
set-option -g status-right "#[bg=colour236,fg=colour101 nobold, nounderscore, noitalics]#[bg=colour101,fg=colour236] %Y-%m-%d  %H:%M #[bg=colour235,fg=colour248,nobold,noitalics,nounderscore] "
##[bg=colour248,fg=colour236] #h "

#set-window-option -g window-status-current-format "#[bg=colour214,fg=colour237,nobold,noitalics,nounderscore]#[bg=colour214,fg=colour239] #I #[bg=colour214,fg=colour239,bold] #W#{?window_zoomed_flag,*Z,} #[bg=colour237,fg=colour214,nobold,noitalics,nounderscore]"
set-window-option -g window-status-current-format "#[bg=colour2,fg=colour236,nobold,noitalics,nounderscore]#[bg=colour2,fg=colour236] #I #[bg=colour2,fg=colour236,bold] #W#{?window_zoomed_flag,*Z,} #[bg=colour236,fg=colour2,nobold,noitalics,nounderscore]"
set-window-option -g window-status-format "#[bg=colour239,fg=colour236,noitalics]#[bg=colour239,fg=colour223] #I #[bg=colour239,fg=colour223] #W #[bg=colour236,fg=colour239,noitalics]"
#set-window-option -g window-status-format "#[bg=colour239,fg=colour237,noitalics]#[bg=colour239,fg=colour223] #I #[bg=colour239,fg=colour223] #W #[bg=colour237,fg=colour239,noitalics]"

# vim: set ft=tmux tw=0 nowrap:

############################################################################
# Plugins
############################################################################

run-shell /home/raymond/Documents/projects/miscellaneous/resurrect/resurrect.tmux

#set -g @resurrect-strategy-nvim 'session'
